In [76]:
import pandas as pd

In [77]:
Content = pd.read_csv(r"C:\Users\ayode\OneDrive\Desktop\Content_data.csv")

In [78]:
Content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [79]:
# To drop the unwanted colums
Content.drop(['User ID', 'URL'], axis=1, inplace=True)

In [80]:
Content.head()

   Unnamed: 0                            Content ID   Type        Category
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1           1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating
2           2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo  healthy eating
3           3  356fff80-da4d-4785-9f43-bc1261031dc6  photo      technology
4           4  01ab84dd-6364-4236-abbb-3f237db77180  video            food

In [81]:
# To remane the columns
Content.rename(columns= {'Unnamed: 0':'SerialNumber', 'Type':'Content Type'}, inplace =True)

In [82]:
Content.head()

,SerialNumber,Content ID,Content Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food

In [83]:
Reaction = pd.read_csv(r"C:\Users\ayode\OneDrive\Desktop\Reactions_data.csv")

In [84]:
Reaction.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,22/04/2021 15:17
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,07/11/2020 09:43
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,17/06/2021 12:22
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,18/04/2021 05:13
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,06/01/2021 19:13

In [85]:
Reaction.rename(columns= {'Unnamed: 0':'SerialNumber', 'Type':'Reaction Type'}, inplace=True)

In [86]:
Reaction.head()

,SerialNumber,Content ID,User ID,Reaction Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,22/04/2021 15:17
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,07/11/2020 09:43
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,17/06/2021 12:22
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,18/04/2021 05:13
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,06/01/2021 19:13

In [87]:
Reaction.drop(columns =['SerialNumber','User ID'], axis=1, inplace=True)

In [88]:
Reaction.head()

                             Content ID Reaction Type          Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2           NaN  22/04/2021 15:17
1  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  07/11/2020 09:43
2  97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  17/06/2021 12:22
3  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  18/04/2021 05:13
4  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  06/01/2021 19:13

In [102]:
ReactionType = pd.read_csv(r"C:\Users\ayode\OneDrive\Desktop\ReactionTypes_data.csv")

In [103]:
ReactionType.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [104]:
ReactionType.rename(columns={'Unnamed: 0': 'SerialNumber','Type': 'Reaction Type'}, inplace=True)

In [105]:
ReactionType.drop(['SerialNumber'], axis=1, inplace=True)

In [106]:
ReactionType.head()

  Reaction Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30

In [108]:
# First merge: Merging Content and Reaction on "Content ID"
merge1 = pd.merge(left=Content, right=Reaction, how="inner", on="Content ID")

In [109]:
# Second merge: Merging the result of the first merge with ReactionType on "Reaction Type"
SocialBuzz_Merge = pd.merge(left=merge1, right=ReactionType, how="inner", on="Reaction Type")

In [111]:
SocialBuzz_Merge.head()

,SerialNumber,Content ID,Content Type,Category,Reaction Type,Datetime,Sentiment,Score
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,07/11/2020 09:43,negative,0
1,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,06/01/2021 19:13,negative,0
2,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,09/04/2021 02:46,negative,0
3,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,disgust,28/03/2021 21:15,negative,0
4,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,disgust,04/08/2020 05:40,negative,0

In [112]:
SocialBuzz_Merge.shape

(24573, 8)

In [115]:
SocialBuzz_Merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 0 to 24572
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SerialNumber   24573 non-null  int64
 1   Content ID     24573 non-null  object
 2   Content Type   24573 non-null  object
 3   Category       24573 non-null  object
 4   Reaction Type  24573 non-null  object
 5   Datetime       24573 non-null  object
 6   Sentiment      24573 non-null  object
 7   Score          24573 non-null  int64
dtypes: int64(2), object(6)
memory usage: 1.7+ MB

In [117]:
SocialBuzz_Merge.isnull().sum()

SerialNumber     0
Content ID       0
Content Type     0
Category         0
Reaction Type    0
Datetime         0
Sentiment        0
Score            0
dtype: int64

In [120]:
SocialBuzz_Merge.duplicated().value_counts()

False    24573
dtype: int64